@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

header, footer {
    display: flex;
    align-items: center;
    background-color: #000000;
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    height: 2em;
    position: fixed;
    width: 100%;
    
}
header {
    top: 0;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-around;
    bottom: 0px;
}

footer img{
    width: 1em;
}

ul {
    display: flex;
    margin-left: 2em;
}

li {
    list-style: none;
    padding: 0 1em;
}

a, h1, h2 {
    text-decoration: none;
    color:#80ffaa
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 2.2em;
    
}
.about-h2 {
    background-color: #333333;
    margin-top: 0;
    padding: .5em;
   
}

.index-h2 {
    background-color:#443666;
    margin-top: 0;
    padding: .5em;
}
h3 {
    font-size: 1.6em;
    font-weight: bolder;
    text-decoration: underline;
    color:#80ffaa
}

a:hover {
    color: #cc66ff;
    text-shadow: #cc66ff 2px -2px 15px;
}
a:active {
    text-decoration: underline;
}

 
body {
    background-color: #1f1f1f;
    text-align: center;
}

main {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3em;
    padding-bottom: 3.5em;
    background-color: #404040;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}

main p {
    font-size: 1.4em;
    
}

.project-container{
    display: flex;
}

.project-container:nth-of-type(2n) {
    background-color: #1f1f1f;   
}

.project-blurb {
    flex: 3;
   margin: 2em;
}
.project-img {
    flex: 1;
}
.project-img img {
    width: 15em;
    margin: 2em;
    
}


#quote {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

.purple {
    background: #443666;
}

#intro {
padding-left: 2em;
padding-right: 2em;
}

#selfie {
    border: 1px solid white;
}

.active {
    text-decoration: underline;
    color:#ff9;    
}